body {
    margin:0px;
}
.nav-container {
    background-color:rgb(207, 134, 45);
    height:100vh;
    width:10%;
    position:fixed;
    display:flex;
    flex-direction:column;
    /* align-items:center; */
    justify-content:space-evenly;
}
.nav-container a {
    text-decoration:none;
    color:rgb(199, 255, 201);
    font-size:20px;
    font-weight:bolder;
    /* align-self:center; */
}
.fa-square-phone, .fa-circle-info, .fa-house {
    display:none;
}
.brand {
    flex:4;
    align-self:center;
    height:auto;
}
.brand a {
    display:flex;
    flex-direction:column; 
    align-items:center;
    justify-content:center;
    width:100%;  
    height:100%;
}
.brand a p {
    margin:10px;
    text-align:center;
}
.brand a i {
    font-size:50px;
}
.home {
    flex:5;
    align-self:center;
    width:100%;
    
}
.home a {
    display:flex;
    flex-direction:column; 
    align-items:center;
    /* justify-content:space-evenly; */
    width:100%;  
}
.home a p {
    font-size:25px;
}
.aboutus {
    align-self:center;
    width:100%;
    flex:1;
}
.aboutus a {
    display:flex;
    flex-direction:column; 
    align-items:center;
    /* justify-content:space-evenly; */
    width:100%;  
}
.contactus {
    align-self:center;
    width:100%;
    flex:1;
}
.contactus a {
    display:flex;
    flex-direction:column; 
    align-items:center;
    /* justify-content:space-evenly; */
    width:100%;  
}
.footer {
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
    border-top:.5px solid rgb(199, 255, 201);
    padding-top:5px;
}
.socials i {
    font-size:16px;
}
.footer p {
    font-size:12px;
    text-align:center;
    margin:0px;
}

.search-filter {
    /* background-color:aquamarine; */
    width:90%;
    height:10vh;
    float:right;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.search-bar {
    margin:20px;
    width:45%;
}
.search {
    width:100%;
    display:flex;
    align-items:center;
}
.search input {
    height:5vh;
    border-radius:5px;
}
.search a button {
    height:6vh;
    width:100%;
    border-radius:5px;
    background-color:rgb(157,195,241);
    border-color:rgb(157,195,241);
}
.search i {
    display:none;
}
.filter-container {
    width:45%;
    margin:20px;
}
.filter-container select {
    width:100%;
    height:6vh;
    border-radius:5px;
}
.filter-container a i {
    display:none;
}
.content-container {
    /* background-color:rgb(142, 142, 201); */
    width:90%;
    height:90vh;
    float:right;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-content:space-around;
}
.book-card {
    background-color:rgb(255, 255, 255);
    width:48%;
    height:40vh;
    display:flex;
    border-radius: 17px 17px 17px 17px;
    box-shadow: 10px 10px 10px 0px black;
}
.book-card img {
    height:40vh;
    border-radius: 15px 0 0 15px;
    box-shadow: 0px 0px 9px 0px black;
    z-index: 1;
}
.book-info {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
.book-title {
    margin:5px 0px;
    font-size:20px;
}
.par {
    margin:0px;
    text-align:center;
    padding:5px;
    width:95%;
}
.read-more {
    display:none;
}
.buttons {
    /* background-color:rgb(92, 255, 119); */
    width:100%;
    height:10vh;
    display:flex;
    justify-content:space-between;
    border-radius: 0px 0 15px 0px;
}
.buttons a {
    text-decoration:none;
    color:black;
}
.btn-cart {
    background-color:rgb(199, 255, 201);
    width:100%;
    flex:2;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.btn-cart:hover  {
    color:rgb(199, 255, 201);
    background-color:black;
}
.btn-wishlist {
    background-color:rgb(157, 195, 241);
    width:100%;
    flex:2;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.btn-wishlist:hover  {
    color:rgb(157, 195, 241);
    background-color:black;
}
.btn-buy {
    background-color:rgb(207, 134, 45);
    width:100%;
    height:100%;
    flex:3;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius: 0px 0 15px 0px;
}
.btn-buy:hover  {
    color:rgb(207, 134, 45);
    background-color:black;
}
.btn-buy p {
    margin:0;
    padding:0;
    font-weight:bolder;
}
@media only screen and (max-width: 768px) {
    .nav-container {
        width:15%;
    }
    .nav-container p {
        display:none;
    }
    .search-filter {
        width:85%;
    }
    .search a button {
        display:none;
    }
    .search i {
        display:block;
        margin-left:5px;
    }

    .content-container {
        width:85%;
        flex-direction:column;
        flex-wrap:nowrap;
        align-items:center;
        height:auto;
    }
    .book-card {
        width:90%;
        height:auto;
        margin:20px 0px;
        display:flex;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 10px 10px 10px 0px black;
    }
    .book-card img {
        width:40%;
        height:auto;
        border-radius: 15px 0 0 15px;
        box-shadow: 0px 0px 9px 0px black;
        z-index: 1;
    }
    .book-title {
        margin:5px 0px;
        font-size:25px;
        text-align:center;
    }
    .par {
        margin:0px;
        text-align:center;
        padding:5px;
        width:95%;
        font-size:15px;
    }
    .buttons a span {
        display:none;
    }
    .btn-buy {
        text-align:center;
    }
    .brand a i {
        font-size:30px;
    }
    .fa-square-phone, .fa-circle-info, .fa-house {
        display:block;
    }
    .socials {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .socials i {
        font-size:15px;
    }

}
@media only screen and (max-width: 576px) {
    .nav-container {
        width:15%;
    }
    .nav-container p {
        display:none;
    }
    .search-filter {
        width:85%;
    }
    .search a button {
        display:none;
    }
    .search i {
        display:block;
        margin-left:5px;
    }
    .content-container {
        width:85%;
        flex-direction:column;
        flex-wrap:nowrap;
        align-items:center;
        height:auto;
    }
    .book-card {
        width:90%;
        height:auto;
        margin:20px 0px;
        display:flex;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 10px 10px 10px 0px black;
    }
    .book-card img {
        width:40%;
        height:auto;
        border-radius: 15px 0 0 15px;
        box-shadow: 0px 0px 9px 0px black;
        z-index: 1;
    }
    .book-title {
        margin:5px 0px;
        font-size:16px;
        text-align:center;
    }
    .par {
        margin:0px;
        text-align:center;
        padding:5px;
        width:95%;
        font-size:10px;
    }
    .buttons a span {
        display:none;
    }
    .brand a i {
        font-size:30px;
    }
    .fa-square-phone, .fa-circle-info, .fa-house {
        display:block;
    }
    .socials {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .socials i {
        font-size:15px;
    }

}
@media only screen and (max-width: 576px) {
   .book-card {
    flex-direction:column;
   }
   .book-card img {
    align-self:center;
   }

    .read-more {
        display:block;
       
    }
    .read-more a {
        text-decoration:none;
    }
    .to-hide {
        display:none;
    }
    .book-title {
        margin:5px 0px;
        font-size:10px;
        text-align:center;
    }
    .par {
        margin:0px;
        text-align:center;
        padding:5px;
        width:95%;
        font-size:7px;
    }
}
/* @media only screen and (max-width: 1024px) {
    .read-more {
        display:block;
       
    }
    .read-more a {
        text-decoration:none;
    }
    .to-hide {
        display:none;
    }
} */

@media only screen and (max-width: 1024px) {
    .nav-container {
        width:15%;
    }
    .nav-container p {
        display:none;
    }
    .search-filter {
        width:85%;
    }
    .search a button {
        display:none;
    }
    .search i {
        display:block;
        margin-left:5px;
    }

    .content-container {
        width:85%;
        flex-direction:column;
        flex-wrap:nowrap;
        align-items:center;
        height:auto;
    }
    .book-card {
        width:90%;
        height:auto;
        margin:20px 0px;
        display:flex;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 10px 10px 10px 0px black;
    }
    .book-card img {
        width:40%;
        height:auto;
        border-radius: 15px 0 0 15px;
        box-shadow: 0px 0px 9px 0px black;
        z-index: 1;
    }
    .book-title {
        margin:5px 0px;
        font-size:25px;
        text-align:center;
    }
    .par {
        margin:0px;
        text-align:center;
        padding:5px;
        width:95%;
        font-size:20px;
    }
    .buttons a span {
        display:none;
    }
    .btn-buy {
        text-align:center;
    }
    .brand a i {
        font-size:30px;
    }
    .fa-square-phone, .fa-circle-info, .fa-house {
        display:block;
    }
    .socials {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .socials i {
        font-size:20px;
    }

}

/* CHECK OUT CSS */
.checkout-container {
    display:f
}

.shipping-address {
    /* background-color:blue; */
    width:55%;
    height:90vh;
    display:flex;
    flex-wrap:wrap;
}
.checkout-header {
    height:5vh;
    align-self:flex-start;
}

.shipping-header {
    width:100%;
    font-size:25px;
    margin-left:20px;
    align-items:center;
}
.shipping-header p {
    margin:0px;
}
.firstname {
    width:45%;
    margin-left:20px;
}
.firstname input {
    width:100%;
    height:5vh;
    border-color:grey;
    border-radius:5px;
}
.lastname {
    width:45%;
    margin-left:20px;
}
.lastname input {
    width:100%;
    height:5vh;
    border-color:grey;
    border-radius:5px;
}
.address1 {
    width:93%;
    margin-left:20px;
}
.address1 input {
    width:100%;
    height:5vh;
    border-color:grey;
    border-radius:5px;
}
.address2 {
    width:93%;
    margin-left:20px;
}
.address2 input {
    width:100%;
    height:5vh;
    border-color:grey;
    border-radius:5px;
}
.region {
    width:94%;
    margin-left:20px;
}
.region select {
    width:100%;
    height:6vh;
    border-color:grey;
    border-radius:5px;
}
.region-hide {
    display:none;
}
.city {
    width:45%;
    margin-left:20px;
}
.city input {
    width:100%;
    height:5vh;
    border-color:grey;
    border-radius:5px;
}
.zip {
    width:44%;
    margin-left:20px;
}
.zip input {
    width:100%;
    height:5vh;
    border-color:grey;
    border-radius:5px;
}
.contactno {
    width:93%;
    margin-left:20px;
}
.contactno input {
    width:100%;
    height:5vh;
    border-color:grey;
    border-radius:5px;
}
.order-summary {
    /* background-color:green; */
    width:35%;
    height:90vh;
    display:flex;
    flex-wrap:wrap;
    border-left:1px solid grey;
    padding-left:25px;
}
.order-header {
    width:100%;
    font-size:25px;
}
.order-header p {
    margin:0px;
}
.orderbook1 {
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}  

.orderbook1 img {
    width:60px;
}
.orderbook2 {
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.orderbook2 img {
    width:60px;
}
.subtotal {
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.subtotal p {
    margin:5px;
}
.total {
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.total p {
    margin:5px;
}
.promocode {
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.promocode input {
    width:80%;
    height:4vh;
    border-radius:6px;
}
.paymentopt {
    width:100%;
    margin-left:20px;
}
.paymentopt p {
    margin:5px;
}
.payopt {
    display:flex;
    flex-direction:column;
}
.btn-pay-1 {
    width:100%;
    height:5vh;
    text-align:center;
}
.btn-pay-1 a button {
    width:90%;
    height:7vh;
    border-radius:6px;
    background-color:rgb(157,195,241);
    cursor:pointer;
    align-self:end;
}
.btn-pay-2 {
    width:100%;
    height:5vh;
    text-align:center;
    display:none;
}
.btn-pay-2 a button {
    width:90%;
    height:7vh;
    border-radius:6px;
    background-color:rgb(157,195,241);
    cursor:pointer;
    align-self:end;
}

@media only screen and (max-width: 768px) {
    .checkout-container {
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
    }
    .shipping-address {
        width:90%;
        order:2;
    }
    .order-summary {
        width:90%;
        border:none;
        order:1;
    }
    .paymentopt {
        padding:20px;
    }
    .payopt {
        display:flex;
        align-items:flex-start;
    }
    .btn-pay-2 {
        order:3;
        display:block;
    }
    .btn-pay-1 {
        display:none;
    }
}
@media only screen and (max-width: 820px) {
    .firstname {
        width:93%;
        margin:0px;
    }
    .lastname {
        width:93%;
        margin:0px;
    }
    .address1 {
        width:93%;
        margin:0px;
    }
    .address2 {
        width:93%;
        margin:0px;
    }
    .region {
        width:95%;
        margin:0px;
    }
    .city {
        width:93%;
        margin:0px;
    }
    .zip {
        width:93%;
        margin:0px;
    }
    .contactno {
        width:93%;
        margin:0px;
    }
    .order-header {
        text-align:center;
        /* border-top:1px solid gray; */
        padding-top:20px;
    }
    .shipping-address {
        margin:0px;
        width:90%;
    }
    .order-summary {
        padding:0px;
        border:none;
        width:100%
    }
}

